/*
 *  FONT DECLARATIONS
 *  =============================================
 */

 @font-face {
  font-family: "Literata";
  src: url("../fonts/Literata-SemiBold.woff2") format("woff2"),
       url("../fonts/Literata-SemiBold.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Golos Text";
  src: url("../fonts/Golos-Text_Black.woff2") format("woff2"),
       url("../fonts/Golos-Text_Black.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Golos Text";
  src: url("../fonts/Golos-Text_Bold.woff2") format("woff2"),
       url("../fonts/Golos-Text_Bold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}